<div class="modal-dialog modal-lg modal-dialog-center">
  <div class="modal-content">
    <%= form_with model: @user, url: approve_monthly_info_user_path(@user), local: true, method: :patch do |f| %>
      <% @attendances.each do |user_id, attendances| %>
        <div class="modal-header">
          <% user = User.find(user_id) %>
          <h1 class="modal-title"><%= user.name %>からの1ヶ月分勤怠申請</h1>
        </div>
        <% attendances.each do |day| %>
          <%= f.fields_for "attendances[]", day do |update| %>
            <table class="table table-bordered table-condensed table-hover">
              <thead>
                <tr>
                  <th>月</th>
                  <th>指示確認㊞</th>
                  <th>変更</th>
                  <th>勤怠を確認する</th>
                </tr>
                  <th><%= day.worked_on.month %>月</th>
                  <th><%= update.select :month_status, ['申請中', '承認','否認','なし'], class: 'sample' %></th>
                  <th><%= update.check_box :month_modify, {class: "check_box"}, "true", "false" %></th>
                  <th><%= link_to "確認", user_path(user, date: day.worked_on), class: "btn btn-primary" %></th>
              </thead>
            </table>
          <% end %>
        <% end %>
      <% end %>
      <div class = "center">
        <%= f.submit "変更を送信する", class: "btn btn-lg btn-primary" %>
      </div>
    <% end %>
  </div>
</div>

