<% provide(:title, 'All Users') %>

<% if params[:search] %>
<h1>検索結果</h1>
<% else %>
<h1>ユーザー一覧</h1>
<% end %>

<div>
<%= form_tag import_users_path, multipart: true do %>
  <%= file_field_tag :file %>
  </div>
  <div>
  <%= submit_tag "CSVをインポート", class: 'btn btn-primary'%>
  </div>
<% end %>

<div class="search">
<h5>ユーザ名検索</h5>
<%= form_tag(users_path, :method => 'get') do %>
  <%= text_field_tag :search %>
  <%= submit_tag '検索', :name => nil %>
<% end %>
</div>

<div class="col-md-10 col-md-offset-1">
  <%= will_paginate %>
  <table class="table table-condensed table-hover" id="table-users">
    <thead>
      <tr>
        <th><%= User.human_attribute_name :name %></th>
      </tr>
    </thead>
　　
    <% @users.each do |user| %>
      <div><%= user.name %></div>
      <div><%= link_to "削除", user_path(user.id), method: :delete, class: "btn btn btn-primary"%></div>
      <button type="button" class="btn btn btn-primary" data-toggle="collapse" data-target="#<%= user.id %>">編集</button>
        <div id="<%= user.id %>" class="collapse">
          <div class="row">
            <div class="col-md-6 col-md-offset-3">
              <%= render 'form', {user: user} %>
            </div>
          </div>
        </div>
    <% end %>
  </table>
  <%= will_paginate %>
</div>